<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: rgb(248, 246, 246);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand px-3" href="#">Travel Agency</a>
        <!-- Add your navigation links here -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0 px-3">
                <a href="#" class="nav-item nav-link px-3">Home</a>
                <a href="#" class="nav-item nav-link px-3">About</a>
                <a href="#" class="nav-item nav-link px-3">Services</a>
                <a href="/travelagency" class="nav-item nav-link active px-3">Tours</a>
                <a href="#" class="nav-item nav-link px-3">Contact</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Tours</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Packages</p>
                </div>
            </div>
        </div>
    </div>




    <!-- Packages Start -->
    <div class="container-fluid">
        <div class="container pb-3">
            <div class="text-center mb-3 pb-3">
                <h1>Tours</h1>
            </div>
            <div class="row results">
                
            </div>
        </div>
    </div>
    <!-- Packages End -->

<div class="container mt-5">
    <!-- Your form and additional input fields go here -->
    
</div>

<footer class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5 mt-5 px-5 bg-dark">
    <p>Arakhan Bexultan | SE-2208</p>
</footer>

<!-- Include Bootstrap or your preferred JS framework -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
