<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agency</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: rgb(248, 246, 246);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand px-3" href="http://localhost:3000/#">Travel Agency</a>
        <!-- Add your navigation links here -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0 px-3">
                <a href="http://localhost:3000/" class="nav-item nav-link px-3">Home</a>
                <a href="http://localhost:3000/travelAgency" class="nav-item nav-link active px-3">Tours</a>
                <a href="http://localhost:3000/mytours" class="nav-item nav-link px-3">My Tours</a>
                <a href="http://localhost:3000/admin" class="nav-item nav-link px-3">Admin</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-5">
        <div class="container pt-5 resultHolder">
            
        </div>
    </div>


<div class="container mt-5">
    <!-- Your form and additional input fields go here -->
    
</div>

<footer class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5 mt-5 px-5 bg-dark">
    <p>Arakhan Bexultan | SE-2208</p>
</footer>

<!-- Include Bootstrap or your preferred JS framework -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/tour.js"></script>


</body>
</html>
